/* Receive */

.breckanMessagePFPR {
  width: 40px;
  height: 40px;
  border-radius: 20px;

  user-select: none;
}

.breckanMessageNameR {
  position: absolute;
  height: 20px;
  left: 50px;
  top: 0;


  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #fff;
}

.breckanMessageGroupR {
  position: relative;
  width: calc(100% - 125px);
  left: 50px;
  right: 0;
  top: -22px;
}

.breckanMessageTextR {
  position: relative;
  width: fit-content;
  max-width: calc(100% - 14px);
  left: -5px;
  margin-bottom: 3px;
  padding: 7px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  overflow-wrap: break-word;

  background: #fff1;
  color: #ddd;
  border-radius: 15px;
}

.breckanMessageTextR > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ddd;
}



/* Send */

.breckanMessagePFPS {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  border-radius: 20px;

  user-select: none;
}

.breckanMessageNameS {
  position: absolute;
  height: 20px;
  right: 50px;
  top: 0;


  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #fff;
}

.breckanMessageGroupS {
  position: relative;
  width: calc(100% - 50px);
  top: 22px;
}

.breckanMessageTextWrapS {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.breckanMessageTextS {
  position: relative;
  width: fit-content;
  max-width: calc(100% - 89px);
  right: -5px;
  margin-bottom: 3px;
  padding: 7px;

  overflow-wrap: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  background: #ffffff08;
  color: #ddd;
  border-radius: 15px;
}

.breckanMessageTextS > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ddd;
}

.breckanMessageEditIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: calc(50% - 9px);
  left: -22px;

  fill: #888;
  visibility: hidden;
  transition: fill .1s, transform .1s;
}

.breckanMessageEditIcon:hover {
  cursor: pointer;
  fill: #ddd;
  transform: scale(1.05);
  visibility: visible;
}

.breckanMessageEditIcon:active {
  cursor: pointer;
  fill: #777;
  transform: scale(.95);
}

.breckanMessageTextWrapS:hover .breckanMessageEditIcon {
  visibility: visible;
}

.breckanMessageTextWrapS .defaultLastRead {
  left: -40px;
  right: unset;
}

.breckanMessageTextWrapS:hover .defaultLastRead {
  left: -55px;
}

.breckanMessageSendingTextS {
  right: unset;
  bottom: unset;
  left: -75px;
  top: 8.5px;
}
