.profilePicture {
  border-radius: 20px;

  transition: transform .2s;
}

.profilePictureSpecial:hover {
  cursor: pointer;
  transform: translateY(-1px);
}

.profilePictureSpecial:active {
  transform: none;
  filter: brightness(80%);
}
