.DMChat {
  position: relative;
  height: 75px;
  cursor: pointer;

  background: linear-gradient(90deg, #282A2D 0%, transparent 50%, transparent 100%);
  background-size: 200% auto;
  background-position-x: -300px;
  transition: background-position-x .3s;
}

.DMChat:hover {
  background-position-x: -100px;
}

.DMChat:active {
  background-position-x: -200px;
}

.DMChat:hover .dmChatPFP {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.DMChat:active .dmChatPFP {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}



/* Profile Picture */

.dmChatPFP {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 17.5px;

  border-radius: 25px;

  user-select: none;

  transition: box-shadow .1s;
}



/* Text */

.dmChatTitleTimeFlexbox {
  position: absolute;
  width: calc(100% - 95px);
  height: 20px;
  left: 75px;
  top: 17.5px;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.dmChatTitle {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  user-select: none;

  color: #FFFFFF;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-grow: 1;
}

.dmChatMessage {
  position: absolute;
  height: 20px;
  left: 75px;
  right: 20px;
  top: 37.5px;
  margin: 0;

  /* font-family: inherit; */
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  user-select: none;

  color: #FFFB;
}

.dmChatTime {
  margin: 0;
  margin-left: 5px;

  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-align: right;

  user-select: none;

  color: #FFFFFF;

  flex-shrink: 0;
}



/* Unread */

.dmChatTitleUnread {
  font-weight: 600;
}

.dmChatUnread {
  font-weight: 500;
  color: #FFF;
}

.dmChatUnreadNotify {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 6px;
  top: 33.5px;

  border-radius: 10px;
  background: white;
}



/* Extras */

.dmChatSelected {
  position: absolute;
  width: 4px;
  height: 40px;
  left: 0px;
  top: 17px;

  background: #FFF;

  transform: translateX(-4px);
  transition: transform .1s;
}
