.LPDMs {
  position: absolute;
  width: 100%;
  height: calc(100% - 165px);
  background: #1B1C1E;
  background: #18191B;
}



/* Chats */

.lpdmChats {
  position: absolute;
  width: 100%;
  height: calc(100% - 75px);
  overflow-y: auto;

  height: calc(100% - 115px);
  padding-bottom: 115px;
}
