.LPGroups {
  position: absolute;
  width: 100%;
  height: calc(100% - 75px);

  transition: transform .2s, opacity .2s;
}

.LPGroupsHide {
  transition: transform .2s, opacity .2s, visibility 0s .2s;
  transform: translateX(40px);
  opacity: 0;
  visibility: hidden;
}
