.LPHome {
  height: 75px;
  cursor: pointer;
}

.LPHome:hover {
  background: linear-gradient(90deg, rgba(40, 42, 45, .5) 0%, transparent 50%, transparent 100%);
}

.LPHome:active {
  background: linear-gradient(90deg, rgba(40, 42, 45, .3) 0%, transparent 50%, transparent 100%);
}



/* Content */

.homeIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 22.5px;

  fill: #fff;
}

.homeText {
  position: absolute;
  height: 35px;
  left: 62.5px;
  top: 20px;
  margin: 0;

  /* font-family: inherit; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;

  user-select: none;

  color: #FFFFFF;
}
