.LPHome {
  position: relative;
  height: 75px;
  cursor: pointer;

  background: linear-gradient(90deg, #282A2D 0%, transparent 50%, transparent 100%);
  background-size: 200% auto;
  background-position-x: -300px;
  transition: background-position-x .3s;
}

.LPHome:hover {
  background-position-x: -100px;
}

.LPHome:active {
  background-position-x: -200px;
}



/* Icon */

.homeIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 20px;
  top: 22.5px;

  fill: #fff;
}

.homeIconAnimate {
  animation: homeIconAnimation .6s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

@keyframes homeIconAnimation {
  0% {
    transform: translateY(0);
    /* animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); */
    /* animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1); */
    /* animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1); */
  }
  50% {
    transform: translateY(-2px);
    /* animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45); */
    /* animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1); */
  }
  100% {
    transform: translateY(0);
  }
}

/* Text */

.homeText {
  position: absolute;
  height: 35px;
  left: 62.5px;
  top: 20px;
  

  /* font-family: inherit; */
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;

  user-select: none;

  color: #FFFFFF;
}



/* Extras */

.homeSelected {
  position: absolute;
  width: 4px;
  height: 40px;
  left: 0px;
  top: 17px;

  background: #FFFFFF;

  transform: translateX(-4px);
  transition: transform .1s;
}
