.LPTabs {
  position: relative;
  height: 75px;
  cursor: pointer;
  background: #1D1E20;
}



/* DM Tab */

.dmTab {
  position: absolute;
  width: 50%;
  width: 150px;
  height: 100%;
  left: 0;
}

.dmTab:hover .dmHovering {
  background: #1540C264;
}

.dmTab:active .dmHovering {
  opacity: .5;
}

.dmTabInner {
  position: absolute;
  width: 90px;
  height: 35px;
  left: 18px;
  top: 20px;
}

.dmIcon {
  float: left;
  width: 30px;
  height: 30px;
  margin: 2.5px;
  fill: url(#dmIconGradient);
}

.dmText {
  float: right;
  height: 35px;
  width: 45px;


  /* font-family: inherit; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;

  background: -webkit-linear-gradient(270deg, #0078D4 0%, #1540C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  user-select: none;
}

.dmSelected {
  position: absolute;
  width: 50px;
  height: 4px;
  left: 50px;
  bottom: 0;

  background: #1540C2;
}

.dmHovering {
  position: absolute;
  width: 50px;
  height: 4px;
  left: 50px;
  bottom: 0;

  background: transparent;

  transition: background .1s, opacity .1s;
}



/* Groups Tab */

.groupsTab {
  position: absolute;
  width: 50%;
  width: 150px;
  height: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupsTab:hover .groupsHovering {
  background: #1D954564;
}

.groupsTab:active .groupsHovering {
  opacity: .5;
}

.groupsTabInner {
  position: absolute;
  width: 115px;
  height: 35px;
  left: 18px;
  top: 20px;
}

.groupsIcon {
  float: left;
  width: 30px;
  height: 30px;
  margin: 2.5px;
  fill: url(#groupsIconGradient);
}

.groupsText {
  float: right;
  height: 35px;
  width: 70px;


  /* font-family: inherit; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;

  background: -webkit-linear-gradient(270deg, #6AE292 0%, #1D9545 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  user-select: none;
}

.groupsSelected {
  position: absolute;
  width: 50px;
  height: 4px;
  left: 50px;
  bottom: 0;

  background: #1D9545;
}

.groupsHovering {
  position: absolute;
  width: 50px;
  height: 4px;
  left: 50px;
  bottom: 0;

  background: transparent;

  transition: background .1s, opacity .1s;
}
