.LeftPanel {
  position: absolute;
  top: 50px;
  left: 0;
  width: 20%;
  width: 300px;
  height: calc(100% - 50px);
  background: #1D1E20;
  z-index: 3;

  transition: transform .4s cubic-bezier(0.65, 0, 0.35, 1);
}

.lpMobileDarken {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0006;

  transition: opacity .4s cubic-bezier(0.65, 0, 0.35, 1);
  z-index: 2;
}

.lpMobileDarkenHide {
  transition: opacity .4s cubic-bezier(0.65, 0, 0.35, 1), visibility 0s .4s;
  visibility: hidden;
  opacity: 0;
}

.lpConversations {
  position: absolute;
  width: 100%;
  height: calc(100% - 90px);
  background: #18191B;
  /* z-index: -2; */
  overflow: hidden;
}



/* RESPONSIVE DESIGN */

@media screen and (max-width: 880px) {
  .LeftPanel {
    transform: translateX(-300px);
  }
}
