.MainPanel {
  position: absolute;
  left: 300px;
  top: 50px;
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  background: #18191B;
  background: #131416;

  transition: transform .3s;
  /* overflow: hidden; */
}

.MainPanelTransition {
  opacity: 1;
  transform: none;
}

.MainPanelShrink {
  transform: scale(.9);
}



/* RESPONSIVE DESIGN */

@media screen and (max-width: 880px) {
  .MainPanel {
    left: 0;
    width: 100%;
  }
}
