.OverlayView {
  transition: opacity .4s, visibility 0s .4s;
}

.OverlayViewHide {
  opacity: 0;
  visibility: hidden;
}



/* Overlay */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(8px);

  z-index: 9;

  background: radial-gradient(circle farthest-corner at 0 0, rgba(255, 255, 255, .08), transparent 40%)
}

.overlayPanel {
  position: absolute;
  width: 800px;
  height: 500px;
  left: calc(50% - 400px);
  top: calc(50% - 250px);

  background-color: #1D1E20;
  background-color: #2A2B2D;
  border-radius: 10px;

  z-index: 10;
}



/* Welcome */

.oWelcomeLogo {
  position: absolute;
  width: 65px;
  height: 65px;
  left: calc(50% - 37.5px);
  top: 60px;
}

.oWelcomeTextDiv {
  position: absolute;
  width: 80%;
  height: 135px;
  top: 125px;
  padding: 0 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.oWelcomeText {
  /* position: absolute;
  width: 100%;
  height: 135px; */


  /* font-family: inherit; */
  font-style: normal;
  /*font-weight: 700;*/
  font-size: 28px;
  /* line-height: 135px; */
  text-align: center;

  user-select: none;

  color: #FFF;

}

.oWelcomeFirebaseDiv {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 250px;
}

/* ...top bar */
.OTopBar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  background: #1D1E20;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.logo {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 6px;
  top: 6px;

  user-select: none;
}

/* ...left panel */
.OLeftPanel {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 300px;
  height: calc(100% - 50px);
  background: #18191B;
}

/* ...main panel */
.OMainPanel {
  position: absolute;
  left: 300px;
  top: 50px;
  width: calc(100% - 300px);
  height: calc(100% - 50px);
  background: #131416;
}



/* Loading */

.oLoadingHide {
  transform: translateY(10px) !important;
  opacity: 0 !important;
}

.overlayLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-color: #1D1E20;

  z-index: 10;
}

.oLoadingIcon {
  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(50% - 30px);
  top: calc(50% - 30px);

  user-select: none;
}

.oLoadingText {
  position: absolute;
  width: 100%;

  top: calc(50% + 60px);

  font-style: normal;
  font-size: 20px;
  text-align: center;
  user-select: none;

  color: #944;

  transition: opacity .5s cubic-bezier(0.16, 1, 0.3, 1), transform .5s cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 1;
}

.oLoadingText::first-line {
  font-size: 24px;
  color: #F66;
}

.oltLoading {
  background: linear-gradient(to right, #FFF 10%, #D56 15%, #FFF 20%,
                                        #FFF 30%, #D56 35%, #FFF 40%,
                                        #FFF 50%, #D56 55%, #FFF 60%,
                                        #FFF 70%, #D56 75%, #FFF 80%,
                                        #FFF 90%, #D56 95%, #FFF 100%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 24px;

  animation: loadingShine 5s linear infinite;
}

@keyframes loadingShine {
  to {
    background-position: -200% center;
  }
}

.oltProgress {
  top: calc(50% + 115px);

  font-size: 18px;
  font-weight: normal;
  font-style: italic;

  color: #fff5;
}

.oltProgress::first-line {
  font-size: unset;
  color: unset;
}

.olProgressBar {
  position: absolute;
  width: 200px;
  top: calc(50% + 100px);
  left: calc(50% - 100px);

  transition: stroke-dashoffset 0.3s ease 0s, stroke-dasharray 0.3s ease 0s, stroke 0.3s linear 0s,
              opacity .5s cubic-bezier(0.16, 1, 0.3, 1), transform .5s cubic-bezier(0.16, 1, 0.3, 1);
}



/* Firebase Styling */

.firebaseui-container {
  background: #2A2B2D !important;
  border-radius: 10px !important;
  color: white !important;
  font: inherit !important;
}

.firebaseui-id-page-sign-in, .firebaseui-id-page-password-sign-in, .firebaseui-id-page-password-sign-up {
  background: #37383A !important;
}

.firebaseui-title {
  color: inherit !important;
}

.firebaseui-input {
  color: white !important;
}

.firebaseui-list-item:last-child::after {
  display: block;
  color: #fff5;
  content: "Email authentication is not recommended";
  /* font-style: italic; */
  /* margin: 20px auto; */
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.mdl-shadow--2dp {
  box-shadow: none !important;
}

.firebaseui-info-bar {
  margin-top: 20px;
}

div.mdl-progress::after {
  display: block;
  color: black;
  content: "Authenticating...";
  /* font-family: inherit; */
  font-style: italic;

  margin: 20px auto;
  text-align: center;
}

.mdl-progress {
  height: 5px;
}





/* Responsive Design */

@media all and (max-width: 840px) {
  .overlayPanel {
    width: 100%;
    left: 0;
    border-radius: 0;
  }
}
