/* Options */

.hpsmOptions {
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.hpsmOption {
  position: relative;
  height: 100%;

  border: 2px solid #fff1;
  border-radius: 20px;

  transition: transform .1s, border .2s;
  flex: 1;
}

.hpsmOptionPreview {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.hpsmOptionPreview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

.hpsmOptionName {
  position: absolute;
  height: 40px;
  left: 10px;
  right: 10px;
  bottom: 10px;

  border-radius: 20px;
  background: #37383A;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hpsmOptionName h1 {
  font-size: 20px;
}

.hpsmOptionSelected {
  border: 2px solid var(--accent-color);
}

/* ...hover */

.hpsmOption:hover {
  cursor: pointer;
  transform: scale(1.02);
}

/* ...active */

.hpsmOption:active {
  transform: scale(.98);
}



/* RESPONSIVE DESIGN */

@media screen and (max-width: 1090px) {
  .hpsmOptionName {
    height: 35px;
    left: 12.5px;
    right: 12.5px;
    bottom: 12.5px;
  }

  .hpsmOptionName h1 {
    font-size: 16px;
  }
}
