.MPDMs {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dmsMessages {
  position: relative;
  width: calc(100% - 80px);
  height: calc(100% - 290px);
  padding: 200px 40px 90px 40px;
  overflow-y: auto;
}

.dmsMessagesInput {
  position: absolute;
  width: calc(100% - 78px);
  min-height: 20px;
  left: 20px;
  bottom: 20px;
  padding: 8px 12px;

  color: #DDD;
  background: #2A2B2DBB;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid;
  border-color: #37383A;
  font-size: 14px;

  outline: none;

  resize: none;
}

.dmsStartConversationDiv {
  position: absolute;
  display: table;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  text-align: center;
}

.dmsStartConversationText {
  display: table-cell;
  padding: 0 20%;
  margin: 0;

  font-size: 24px;
  text-align: center;
  /* line-height: 200px; */
  vertical-align: middle;

  color: #FFF8;
}

.dmsNoMessageText {
  position: absolute;
  width: 100%;
  bottom: 100px;

  font-size: 20px;
  text-align: center;

  color: #FFF4;
}

.dmsCenterText {
  position: absolute;
  width: 100%;
  height: 50px;
  top: calc(50% - 25px);

  font-size: 20px;
  text-align: center;
  line-height: 50px;

  color: #FFF4;
}

.dmsLastRead {
  position: absolute;
  right: -40px;
  bottom: -5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;

  filter: brightness(50%);

  transition: opacity .1s, right .1s;
  opacity: 1;
}

.dmsLastReadHide {
  transition: opacity .1s, right .1s, visibility 0s .1s;
  visibility: hidden;
  right: -30px;
  opacity: 0 !important;
}

.dmsInChat {
  filter: brightness(100%);
  position: absolute;
  left: 50px;
  width: 30px;
  height: 30px;
  border-radius: 15px;

  transition: filter .5s, opacity .1s, left .1s;
  opacity: 1;
}

.dmsInChatHide {
  transition: opacity .1s, left .1s, visibility 0s .1s;
  visibility: hidden;
  left: 40px;
  opacity: 0 !important;
}

.dmsInChatGone {
  filter: brightness(50%);
}



/* Receive Message */

.receiveMessage {
  position: relative;
  margin-bottom: 20px;
}

.receiveMessagePFP {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.receiveMessageName {
  position: absolute;
  height: 20px;
  left: 50px;
  top: 0;
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #FFFFFF;
}

.receiveMessageGroup {
  position: relative;
  width: calc(100% - 100px);
  left: 50px;
  right: 0;
  top: -22px;
}

.receiveMessageText {
  position: relative;
  margin: 0;
  left: -5px;
  margin-bottom: 3px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  overflow-wrap: break-word;
  hyphens: auto;

  color: #FFFFFF;
  color: #DDD;

  border-radius: 5px;
  padding: 0 5px;
}

.receiveMessageText:hover {
  background: #fff1;
}

.receiveMessageSending {
  color: #888;
}

.receiveMessageSendingText {
  position: absolute;
  height: auto;
  width: 65px;
  right: -65px;
  bottom: 1px;
  margin: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  line-height: normal;

  color: #999;
}

.receiveMessageTimestamp {
  position: absolute;
  height: 20px;
  bottom: 0;
  left: 50px;
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #646464;
}
