.MPDMs {
  position: absolute;
  width: 100%;
  height: 100%;
}

.groupsMessages {
  position: relative;
  width: calc(100% - 80px);
  height: calc(100% - 290px);
  padding: 200px 40px 90px 40px;
  overflow-y: auto;
}

.groupsMessagesInput {
  position: absolute;
  width: calc(100% - 78px);
  min-height: 20px;
  left: 20px;
  bottom: 20px;
  padding: 8px 12px;

  color: #DDD;
  background: #2A2B2DBB;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid;
  border-color: #37383A;
  font-size: 14px;

  outline: none;

  resize: none;
}

.groupsTopTextDiv {
  position: absolute;
  width: 60%;
  height: 200px;
  top: 0;
  left: 0;
  padding: 0 20%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.groupsStartConversationText {
  font-size: 24px;
  text-align: center;

  color: #FFF8;
}

.groupsLoadingMessagesText {
  font-size: 20px;
  text-align: center;

  color: #FFF6;
}

.groupsLoadingMessagesSpinner {
  margin-left: 20px;
}

.groupsNoMessageText {
  position: absolute;
  width: 100%;
  bottom: 100px;

  font-size: 20px;
  text-align: center;

  color: #FFF4;
}

.groupsCenterText {
  position: absolute;
  width: 100%;
  height: 50px;
  top: calc(50% - 25px);
  margin: 0;

  font-size: 20px;
  text-align: center;
  line-height: 50px;

  color: #FFF4;
}



/* Scrollbar */

.groupsMessages::-webkit-scrollbar {
  width: 10px;
}

.groupsMessages::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: #333;
}

.groupsMessages::-webkit-scrollbar-thumb {
  background: #4c4c4c;
}

.groupsMessages::-webkit-scrollbar-thumb:hover {
  background: #585858;
}

.groupsMessages::-webkit-scrollbar-thumb:active {
  background: #444;
}
