.MPHome {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-20px);

  transition: transform .3s;
}

.MPHomeTransition {
  opacity: 1;
  transform: none;
}

.MPHomeShrink {
  transform: scale(.9);
}

.homeContent {
  position: relative;
  width: 100%;
  top: 271px;
  height: calc(100% - 271px);
}

.hwUnreadDot {
  position: absolute;
  width: 10px;
  height: 10px;

  background: var(--darker-accent-color);
  border-radius: 10px;
  z-index: 2;
}



/* Welcome */

.homeWelcome {
  position: absolute;
  width: 100%;
  height: 271px;
}

.hwPFP {
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  top: 40px;
  border-radius: 100px;

  user-select: none;
}

.hwName {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 140px;


  /* font-family: inherit; */
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;

  user-select: none;

  color: #FFF;
}

.hwTopRightIcon {
  position: absolute;
  top: 20px;
  width: 30px;
  height: 30px;

  fill: #fffb;

  transition: transform .1s, fill .1s;
  transform: none;
}

.hwSettingsIcon {
  right: 20px;
}

.hwAnnouncementsIcon {
  right: 60px;
  z-index: 1;
}

.hwAnnouncementsUnread {
  right: 60px;
}

.hwTopRightIcon:hover {
  transform: scale(1.05);
  cursor: pointer;
  fill: white;
}

.hwTopRightIcon:active {
  transform: scale(.95);
  fill: #fff8;
}

.hwAnnouncementsIcon:hover ~ .hwAnnouncementsUnread {
  transform: scale(1.05);
  cursor: pointer;
}

.hwAnnouncementsIcon:active ~ .hwAnnouncementsUnread {
  transform: scale(.95);
}



/* Text */

.homeCenterText {
  position: relative;
  display: table-cell;

  text-align: center;
  vertical-align: middle;
  color: #fff5;
  font-size: 20px;
}



/* Tabs */

.homeTabs {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 240px;

  display: flex;
  justify-content: center;
  gap: 50px;
}

.homeTab {
  position: relative;
  height: 25px;
  /* margin: 0 25px; */
  padding-bottom: 4px;
  border-bottom: 2px solid #b2b2b2;
  user-select: none;

  transition: transform .05s;
}

.homeTabIcon {
  width: 25px;
  float: left;
  margin-left: -14px;
}

.hwNotificationsUnread {
  position: absolute;
  width: 100%;
  height: 100%;
}

.homeTabIcon {
  fill: #FFFB;
}

.homeTitle {
  height: 25px;

  margin-left: 4px;
  margin-right: -10px;
  float: right;

  font-size: 16px;
  line-height: 25px;

  color: #FFFB;
}

/* ...hover */

.homeTab:hover .homeTitle, .homeTab:hover .homeTabIcon {
  fill: white;
  color: white;
}

.homeTab:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

/* ...active */

.homeTab:active .homeTitle, .homeTab:active .homeTabIcon {
  fill: #fff9;
  color: #fff9;
}

.homeTab:active {
  cursor: pointer;
  border-bottom: 2px solid #fff9;
  transform: scale(.985);
}

/* ...selected */

.htSelected {
  border-bottom: 2px solid var(--accent-color) !important;
}

.httSelected {
  filter: unset !important;
  color: var(--accent-color) !important;
}

.htiSelected {
  fill: var(--accent-color)  !important;
}



/* Home Sections */

.homeSection {
  position: absolute;
  width: 60%;
  height: 80%;
  left: calc(20% - 10px);
  top: 10%;
  padding: 0 10px;

  border-left: 2px solid #ffffff05 !important;

  transition: transform .2s cubic-bezier(0.65, 0, 0.35, 1),
              opacity .2s cubic-bezier(0.65, 0, 0.35, 1);
  /* transition: transform .2s, opacity .2s; */
  visibility: visible;
  opacity: 1;

  overflow-y: scroll;
}

.homeSectionHideLeft {
  transition: transform .2s cubic-bezier(0.65, 0, 0.35, 1),
              opacity .2s cubic-bezier(0.65, 0, 0.35, 1),
              visibility 0s .2s;
  /* transition: transform .2s, opacity .2s, visibility 0s .2s; */
  visibility: hidden;
  transform: translateX(-40px);
  opacity: 0;
}

.homeSectionHideRight {
  transition: transform .2s cubic-bezier(0.65, 0, 0.35, 1),
              opacity .2s cubic-bezier(0.65, 0, 0.35, 1),
              visibility 0s .2s;
  /* transition: transform .2s, opacity .2s, visibility 0s .2s; */
  visibility: hidden;
  transform: translateX(40px);
  opacity: 0;
}



/* RESPONSIVE DESIGN */

@media screen and (max-width: 880px) {
  .homeTabs {
    top: 210px;
  }
  .homeContent {
    top: 241px;
    height: calc(100% - 241px);
  }
  .homeSection {
    width: 80%;
    height: 90%;
    top: 5%;
    left: calc(10% - 10px);
  }
}

@media screen and (max-width: 475px) {
  .hwName {
    font-size: 24px;
  }
  .homeTabs {
    top: 190px;
    gap: 30px;
  }
  .homeContent {
    top: 226px;
    height: calc(100% - 226px);
  }

  .homeTitle {
    display: none;
  }
  .homeTabIcon {
    margin: 0;
  }
  .homeTab {
    height: 30px;
  }
  .homeTabIcon {
    width: 30px;
    height: 30px;
  }
}


@media screen and (max-height: 720px) and (max-width: 475px) {
  .hwPFP {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
  }
  .hwName {
    top: 90px;
    font-size: 20px;
  }
  .homeTabs {
    top: 135px;
  }
  .homeContent {
    top: 170px;
    height: calc(100% - 170px);
  }
}

@media screen and (max-height: 650px) {
  .hwPFP {
    display: none;
  }
  .hwName {
    top: 55px;
  }
  .homeTabs {
    top: 110px;
  }
  .homeContent {
    top: 140px;
    height: calc(100% - 140px);
  }
}

@media screen and (max-height: 650px) and (max-width: 475px) {
  .homeContent {
    top: 145px;
    height: calc(100% - 145px);
  }
}
