.MPHome {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(-20px);

  transition: transform .3s;
}

.MPHomeTransition {
  opacity: 1;
  transform: none;
}

.MPHomeShrink {
  transform: scale(.9);
}

.homeContent {
  position: relative;
  width: 100%;
  top: 271px;
  height: calc(100% - 271px);
}

.hwUnreadDot {
  position: absolute;
  width: 10px;
  height: 10px;

  background: var(--darker-accent-color);
  border-radius: 10px;
  z-index: 2;
}



/* Welcome */

.homeWelcome {
  position: absolute;
  width: 100%;
  height: 271px;
}

.hwPFP {
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
  top: 40px;
  border-radius: 100px;
}

.hwName {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 140px;


  /* font-family: inherit; */
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;

  user-select: none;

  color: #FFF;
}

.hwTopRightIcon {
  position: absolute;
  top: 20px;
  width: 30px;
  height: 30px;

  fill: #fffb;

  transition: transform .1s, fill .1s;
  transform: none;
}

.hwSettingsIcon {
  right: 20px;
}

.hwAnnouncementsIcon {
  right: 60px;
  z-index: 1;
}

.hwAnnouncementsUnread {
  right: 60px;
}

.hwTopRightIcon:hover {
  transform: scale(1.05);
  cursor: pointer;
  fill: white;
}

.hwTopRightIcon:active {
  transform: scale(.95);
  fill: #fff8;
}

.hwAnnouncementsIcon:hover ~ .hwAnnouncementsUnread {
  transform: scale(1.05);
  cursor: pointer;
}

.hwAnnouncementsIcon:active ~ .hwAnnouncementsUnread {
  transform: scale(.95);
}



/* Text */

.homeCenterText {
  position: relative;
  display: table-cell;

  text-align: center;
  vertical-align: middle;
  color: #fff5;
  font-size: 20px;
}



/* Tabs */

.homeTabs {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 240px;

  display: flex;
  justify-content: center;
}

.homeTab {
  position: relative;
  height: 25px;
  margin: 0 25px;
  padding-bottom: 4px;
  border-bottom: 2px solid #b2b2b2;
  user-select: none;

  transition: transform .05s;
}

.homeTabIcon {
  width: 25px;
  float: left;
}

.hwNotificationsUnread {
  position: absolute;
  width: 100%;
  height: 100%;
}

.homeTabIcon {
  fill: #FFFB;
}

.homeTitle {
  height: 25px;

  margin-left: 4px;
  margin-right: -10px;
  float: right;

  font-size: 16px;
  line-height: 25px;

  color: #FFFB;
}

/* ...hover */

.homeTab:hover .homeTitle, .homeTab:hover .homeTabIcon {
  fill: white;
  color: white;
}

.homeTab:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

/* ...active */

.homeTab:active .homeTitle, .homeTab:active .homeTabIcon {
  fill: #fff9;
  color: #fff9;
}

.homeTab:active {
  cursor: pointer;
  border-bottom: 2px solid #fff9;
  transform: scale(.985);
}

/* ...selected */

.htSelected {
  border-bottom: 1px solid #D54D5E !important;
  border-bottom: 2px solid var(--accent-color) !important;
}

.httSelected {
  filter: unset  !important;
  color: #D54D5E !important;
  color: var(--accent-color) !important;
}

.htiSelected {
  fill: #D54D5E  !important;
  fill: var(--accent-color)  !important;
}



/* Specific Tab Icons */

.htiNotify {
  margin-left: -14px;
}

.htiPeople {
  margin-left: -11px;
}

.htiProfile {
  margin-left: -12px;
}
