.HomeContent {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 300px;
}



/* Tabs */

.hcTabs {
  display: flex;
  justify-content: center;
}

.hcTab {
  height: 25px;
  margin: 0 25px;
  padding-bottom: 4px;
  border-bottom: 1px solid #b2b2b2;
  user-select: none;
}

.hcTabIcon {
  width: 25px;
  float: left;
}

.hcTabIcon {
  fill: #FFFB;
}

.hcTitle {
  height: 25px;
  margin: 0;
  margin-left: 4px;
  margin-right: -10px;
  float: right;

  font-size: 16px;
  line-height: 25px;

  color: #FFFB;
}

/* ...hover */

.hcTab:hover .hcTitle, .hcTab:hover .hcTabIcon {
  fill: white;
  color: white;
}

.hcTab:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

/* ...selected */

.hctSelected {
  border-bottom: 1px solid #D54D5E !important;
}

.hcttSelected {
  filter: unset;
  color: #D54D5E;
}

.hctiSelected {
  fill: #D54D5E;
}



/* Specific Tab Icons */

.hctiNotify {
  margin-left: -14px;
}

.hctiPeople {
  margin-left: -11px;
}

.hctiProfile {
  margin-left: -12px;
}
