/* Category */

.hnCategory {
  margin: 10px;
  margin-bottom: 30px;
}

.hnCategoryHeader {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.hnCategoryTitle {
  height: 25px;

  font-size: 18px;
  line-height: 25px;

  color: #FFF6;
}

.hnCategoryLine {
  flex: 1;
  height: 1px;
  background: #FFF6;
}

.hnCategoryContentDiv {
  position: relative;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;

  border-radius: 20px;
  background: #0002;
}



/* Requests */

.hnRequestDiv {
  width: calc(100% - 60px);
  height: 55px;
  margin-left: 40px;
}

.hnRequestTypeIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 22.5px;
  left: -40px;
}

.hnRequestDiv > img {
  width: 50px;
  height: 50px;
  margin: 2.5px;
  border-radius: 25px;
}

.hnRequestDiv > h1, .hnRequestDiv > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 167.5px);
}

.hnRequestDiv > h1 {
  position: absolute;
  left: 72.5px;
  top: 10px;
  /* bottom: 36.5px; */
  font-size: 22px;
}

.hnRequestDiv > p {
  position: absolute;
  left: 72.5px;
  top: 36.5px;

  font-size: 16px;
  color: #888;
}

.hnDeclineIcon {
  right: 20px;
  top: 22.5px;
}

.hnAcceptIcon {
  right: 55px;
  top: 22.5px;
}

.hnAcceptIcon:hover {
  fill: #afa;
}

.hnAcceptIcon:active {
  fill: #afa8;
}

.hnDeclineIcon:hover {
  fill: #faa;
}

.hnDeclineIcon:active {
  fill: #faa8;
}



/* Welcome */

.hnCategory .aliPreview * {
  color: #ddd;
}

.hnCategory .aliTimestamp {
  color: #888;
}



/* RESPONSIVE DESIGN */

@media screen and (max-width: 570px), (min-width: 880px) and (max-width: 1100px) {
  .hnRequestDiv {
    height: 80px;
  }
  .hnRequestDiv > h1, .hnRequestDiv > p {
    width: calc(100% - 82.5px);
  }
  .hnAcceptIcon {
    top: initial;
    bottom: 10px;
  }
  .hnDeclineIcon {
    top: initial;
    bottom: 10px;
  }

  .hnRequestTypeIcon {
    width: 20px;
    height: 20px;
    top: initial;
    bottom: 10px;
    left: 27.5px;
  }
  .hnRequestDiv {
    width: calc(100% - 20px);
    margin-left: 0;
  }
}
