.GroupsDefaultMessage {
  position: relative;
  margin-bottom: 20px;
}

.gDefaultMessageGroup {
  width: calc(100% - 150px);
}

.gDefaultLastRead {
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: -30px;

  box-shadow: 0px 0px 8px 0px #0004;
}

.gExtraLastRead {
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: -30px;
  

  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #888;
  user-select: none;
}

.gExtraInThread {
  /* position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: -30px;
  

  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #888;
  user-select: none; */

  filter: brightness(100%);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  
  margin-top: 5px;
  border-radius: 15px;

  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #888;
  user-select: none;

  transition: filter .5s, opacity .1s, transform .1s;
  opacity: 1;
}

.gdefaultInChatTyping {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50px;

  background: #000b;
  border-radius: 15px;

  transition: opacity .3s, transform .1s;
  opacity: 1;
}

.gdefaultInChatTypingHide {
  opacity: 0;
}

.gdefaultInChatTypingInner {
  position: absolute;
  top: 3px;
  left: 3px;

  transform: scale(.8);
}
