.HPAnnouncements {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
}



/* Content */

.announcementsTitle {
  margin-top: 10px;
  color: white;
}

.announcements {
  width: 100%;
  height: calc(100% - 70px);
}



/* Announcement div */

.announcementDiv {
  padding: 10px;
  margin-bottom: 20px;

  border-radius: 15px;
  background: #0002;
}

.announcementTitle {
  margin: 0;
  font-size: 24px;
  color: white;
}
